<main class="container">
  <div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1">
      <% @posts.try(:first, 5).try(:each) do |post| %>
        <div class="panel panel-default">
          <div class="panel-body">
            <p class="text-muted"><%= DateTime.parse(post['created_time']).strftime("%e %B %Y, %H:%M") %></p>
            <%= image_tag post['picture'] if post['picture'] %>
            <% if post['message'] %>
              <p class="lead"><%= post['message'] %></p>
            <% end %>
            <ul class="shared text-muted">
              <li class="icons"><span class="glyphicon glyphicon-thumbs-up"></span><span class="count"><%= post['likes'] ? post['likes'].try(:count) : 0 %></span></li>
              <li class="icons"><span class="glyphicon glyphicon-share-alt"></span><span class="count"><%= post['shares'] ? post['shares'].try(:[], 'count') : 0 %></span></li>
            </ul>
          </div>
          <% if post['comments'] %>
            <div class="panel-footer">
              <% post['comments']['data'].try(:each) do |comment| %>
                <ul class="shared text-muted">
                  <li><%= comment['from']['name'] %></li>
                  <li><%= DateTime.parse(comment['created_time']).strftime("%e %B %Y, %H:%M") %></li>
                </ul>
                <p class="comment"><%= comment['message'] %></p>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</main>